CONFIG_IDF_TARGET="esp32s3"
CONFIG_WDAP_ROLE_FRONTEND=y
# CONFIG_WDAP_ROLE_BACKEND is not set
CONFIG_WDAP_ESPNOW_CHANNEL=6
CONFIG_WDAP_ESPNOW_PAYLOAD_MTU=1460
CONFIG_WDAP_DAP_PACKET_SIZE=512
CONFIG_WDAP_DAP_PACKET_COUNT=8
CONFIG_WDAP_TRANSFER_TIMEOUT_MS=3000
CONFIG_WDAP_ESPNOW_RETRY_COUNT=8
CONFIG_TINYUSB_HID_COUNT=1
CONFIG_TINYUSB_VENDOR_COUNT=1
CONFIG_TINYUSB_VENDOR_RX_BUFSIZE=1024
CONFIG_TINYUSB_VENDOR_TX_BUFSIZE=1024
CONFIG_TINYUSB_VENDOR_EPSIZE=64
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_HZ=1000
CONFIG_WDAP_USB_HID_FALLBACK=y

CONFIG_COMPILER_OPTIMIZATION_PERF=y

CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
