CONFIG_IDF_TARGET="esp32s3"
CONFIG_LWIP_LOCAL_HOSTNAME="wdap-frontend-a"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_TINYUSB_HID_COUNT=1
CONFIG_TINYUSB_VENDOR_COUNT=1
CONFIG_TINYUSB_VENDOR_RX_BUFSIZE=64
CONFIG_TINYUSB_VENDOR_TX_BUFSIZE=64
CONFIG_TINYUSB_VENDOR_EPSIZE=64
